<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinFlow"
        tools:targetApi="31">
        <activity
            android:name=".moodStatistics.MoodTrackActivity"
            android:exported="false"
            android:label="@string/title_activity_mood_track"
            android:theme="@style/Theme.FinFlow" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false"
            android:label="@string/title_activity_feedback"
            android:theme="@style/Theme.FinFlow" />
        <activity
            android:name=".AuthActivity"
            android:exported="true"
            android:theme="@style/Theme.FinFlow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.FinFlow" />
        <activity
            android:name=".HabitsActivity"
            android:exported="true"
            android:icon="@drawable/icon" />
        <activity
            android:name=".GoalsActivity"
            android:exported="true"
            android:icon="@drawable/icon" />
        <activity
            android:name=".TransactionActivity"
            android:exported="true" />
        <activity
            android:name=".StartActivity"
            android:exported="true" />
    </application>

</manifest>